// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i, h2{
  font-size: 24px;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover{
  color:purple;
}
